 @model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <br /><br />
        <h1 class="text-primary text-center">Order Placed Successfully ! </h1>
        <br /><br /><br />
         <img src="~/Images/Product/letter.png" width="30%"></img>
    </div>
    <div class="col-12 text-primary text-center" style="color:cornflowerblue">
        <br/><br/><br/>
        Your Order Number is : @Model <br /><br />
    </div>

</div>