<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     

    <title>About Us</title>
    
</head>
<body>

    <h1>About Us</h1>
    <p>Welcome to our team's page! We're a group of Software Engineering students at SCE (Sami Shamoon College of Engineering), dedicated to innovating and solving complex problems through technology. Get to know us a bit more below!</p>

    <div class="team">
        <div class="team-member">
            <img src="/Images/AboutUs/OrelPhoto.jpg" alt="Orel">
            <h3>Orel Hen</h3>
        </div>

        <div class="team-member">
            <img src="/Images/AboutUs/HalivaPhoto.jpg" alt="Guy Haliva">
            <h3>Guy Haliva</h3>
        </div>

        <div class="team-member">
            <img src="/Images/AboutUs/GuyPhoto.jpg" alt="Guy Aloosh">
            <h3>Guy Aloosh</h3>
        </div>

        <div class="team-member">
            <img src="/Images/AboutUs/ShoamPhoto.jpg" alt="Shoam Ben David">
            <h3>Shoam Ben David</h3>
        </div>
    </div>

</body>
</html>