@model List<Product>
<link ref="sylesheets" herf="wwwroot/css/site.css" />


<div class="container admin_products">
        <div class="row">
            <div class="col-12 text-center">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary create_new_product">
                    <i class="bi bi-plus"></i> Create New Product
                </a>
            </div>
        </div>

    <table id="tblData" class="PandCTable">
    <thead>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Maker</th>
        <th>Description</th>
        <th>Category</th>
        
        <th> </th>
        
    </tr>
    </thead>
    
</table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}