html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Saira';
    background: linear-gradient(39deg, rgba(24,25,31,1) 0%, rgba(26,33,40,1) 100%);
    background-image: url(../Images/main_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* HEADER */

.main_logo {
    width: 190px;
}

.navbar {
    max-width: 1400px;
    margin: 25px auto;
    padding: 18px 15px 0;
}

.navbar-nav {
    max-width: fit-content;
}

.navbar_sticky_bg {
    background-color: #1b1f25b8;
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    padding: 15px;
    border-radius: 10px;
}

li.nav-item a {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    padding: 10px 20px !important;
    border-radius: 5px;
}

    li.nav-item a:hover {
        background: #e02b20;
        box-shadow: 0 2px 13px rgba(0,0,0,0.5);
    }

a#register, a#login {
    background: #e02b20;
    border-top: 1px solid #ffa63f;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition: 0.4s all;
}

    a#register:hover, a#login:hover {
        border-top: 1px solid #32343b;
        background: #32343b;
        margin-top: -5px;
        transition: 0.4s all;
    }

.banner_main_img {
    max-width: 1400px;
    top: 30px;
    left: 50%;
    border-radius: 15px;
    transform: translateX(-50%);
    height: 400px !important;
}

ul.dropdown-menu.show {
    background: #32323a;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

    ul.dropdown-menu.show li a {
        margin: 0;
    }

    ul.dropdown-menu.show li:first-child {
        margin-bottom: 10px;
    }
/* MAIN AREA */
.main_area {
    max-width: 1400px;
    margin: 70px auto !important;
}

/* SIDEBAR */
.sidebar_menu {
    background: #313339;
}

.sidebar_menu {
    background: #313339;
    margin-right: 25px;
    border-radius: 15px;
    color: #fff;
    padding: 14px;
    height: fit-content;
    border-left: 2px solid #e02b20;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

    .sidebar_menu .card-body h5 {
        border-bottom: 3px solid #e02b20;
        padding-bottom: 5px;
        width: fit-content;
    }

.form-check-input[type=checkbox] {
    background: #494c56;
    border-radius: 0;
    border: 1px solid #2e303a;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.2s all;
}

    .form-check-input[type=checkbox]:checked {
        background: #e02b20;
        transition: 0.2s all;
    }

input#searchInput, input#startDate, input#endDate {
    background: #60616b;
    border: 1px solid #77798a;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    color: #fff;
}

    input#searchInput::placeholder {
        color: #fff !important;
        transition: 0.4s all;
    }

    input#searchInput:focus::placeholder {
        opacity: 0;
        transition: 0.4s all;
        padding-left: 5px;
    }


/* FILTERS BTN */

.filter_btn {
    color: #ffffff75;
    background: #323339;
    margin-right: 15px;
    border-radius: 6px !important;
    margin-bottom: 15px;
}

    .filter_btn:hover {
        background: #e02b20;
        border-top: 1px solid #ffa63f;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
        transition: 0.4s all;
        color: #fff;
    }


.filter_btn_active {
    background: #e02b20;
    border-top: 1px solid #ffa63f;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    transition: 0.4s all;
    color: #fff;
}


/* GAME CARDS */
.game_card {
    background: #32343bd6;
    border-radius: 10px;
    height: 440px;
    overflow: hidden;
}

.game_card_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.game_card_meta {
    padding: 5px 15px;
}

.card-title {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
}


.card_game_maker {
    color: #e02b20;
    font-size: 16px;
}

.card_game_category_date {
    color: #ffffff45;
    font-size: 14px;
    line-height: 10px;
}

.game_card_price {
    color: #fff;
    font-size: 18px;
}

.game_card_price_sale {
    color: #ffffff45;
    font-size: 16px;
}

    .game_card_price_sale span {
        padding: 0px 10px;
        color: #fff;
        background: #e02b20;
    }

.game_card_price_sale, .game_card_price {
    text-align: center;
    margin-top: 15px;
    line-height: 30px;
}

.game_card_btns {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0 15px;
    justify-content: space-between;
}

    .game_card_btns form, .game_card_btns a, .game_card_btns button {
        font-size: 10px !important;
    }

        .game_card_btns button.btn.btn-success, .btn-danger {
            background: #e02b20;
            border: 0px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.3);
            transition: 0.4s all;
        }


        .game_card_btns a.btn.btn-primary {
            background: #60616b;
            border: 0px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.3);
            transition: 0.4s all;
            height: fit-content;
        }

            .game_card_btns button.btn.btn-success:hover, .game_card_btns a.btn.btn-primary:hover, a#detailsBtn:hover {
                margin-top: -8px;
                transition: 0.4s all;
            }


button.btn.btn-danger {
    line-height: 15px;
    margin-right: 10px;
    height: fit-content;
}

a#detailsBtn {
    line-height: 15px;
}

button.btn.btn-danger:hover {
    margin-top: -15px;
    transition: 0.4s all;
}

/* CARD BADGES */
.comingsoon_badge, .sale_badge, .outofstock_badge {
    rotate: 26deg;
    position: absolute;
    top: 17px;
    text-align: center;
    left: 75px;
    width: 96%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.comingsoon_badge {
    background: #f09629;
}

.sale_badge {
    background: #e02b20;
}

.outofstock_badge {
    background: #454553;
}

/* FOOTER */
footer.footer.bg-primary.text-muted {
    background: #0000001a !important;
    color: #fff !important;
    font-size: 20px;
    max-width: fit-content;
    position: inherit;
    margin: 0 auto;
    padding: 5px 30px;
    border-radius: 16px;
    bottom: 15px;
    margin-top: 20px;
}



/* DETAILS PAGE */

.details_main {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
}


    .back_to_home {
        background: #e02b20;
        border: 0px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        color: #fff;
        transition: 0.4s all;
        text-decoration: none;
        font-family: 'Saira';
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 5px;
        border-top: 1px solid #ecaf15;
        top: 5px;
        position: relative;
        transition: 0.3s all;
    }

.back_to_home:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
    top: 10px;
    transition: 0.3s all;
}


.details_main .card-header{
    margin-top: 40px;
}

.details_main_img{
    width: 100%;
    border-radius: 10px;
}

.details_desc{
    font-size: 22px;
    color: #fff;
    margin-top: 40px;
    padding-left: 40px;
}

.details_price {
    background: #323339b8;
    width: fit-content;
    padding: 10px 15px;
}


.in_stock {
    font-size: 24px;
    font-weight: 600;
}

    .in_stock span {
        color: #7284be;
    }

    .out_of_stock {
        font-size: 24px;
        font-weight: 600;
        color: #e02b20;
    }

.details_add_to_cart_btns{
    margin-top: 10px;
}


.details_add_to_cart_btns input#countInput {
    width: 80px;
    margin: 0 10px;
    background: #60616b;
    color: #fff;
    font-weight: 700;
    border: 0;
}


.details_add_to_cart_btns button.btn.btn-primary {
    max-width: 150px;
    left: 20px;
    background: #e02b20;
    border-top: 1px solid #ffa63f;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    height:50px;
}

.count_btn {
    border-radius: 5px !important;
    border: 0 !important;
    background: #323339;
    width: 40px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count_btn i {
    color: #fff;
    font-size: 20px;
}

.trailer_box iframe {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 5px 29px rgba(0,0,0,0.3);
}

.related_prod_title{
    font-size: 26px;
    color: #fff;
    margin: 20px 0 10px;
    font-weight: 600;
}



/* ADD TO CART MAIN */
.add_to_cart_main{
    max-width: 1400px;
    margin: 0 auto;
}

    .add_to_cart_main .card-header:first-child {
        background: rgb(49 51 57) !important;
        border-bottom: 2px solid #e02b20;
    }

.add_to_cart_main .card {
    background: rgb(49 51 57 / 53%);
}

.coontinue_shopping_btn, .summary_btn, .table_detials, .create_new_product  {
    background: #e02b20;
    border: 0px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    color: #fff;
    transition: 0.4s all;
    text-decoration: none;
    font-family: 'Saira';
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border-top: 1px solid #ecaf15;
    transition: 0.3s all;
}

.add_to_cart_items{
    margin-top: 20px;
}

    .add_to_cart_items .title{
        color: #fff;
        font-weight: 600;
        font-size: 24px;
    }

    .add_to_cart_items .quantity {
        color: #fff;
    }

.add_to_cart_items_line:last-child {
    border: 0;
}

.add_to_cart_items_line {
    border-bottom: 1px solid #ffffff1a;
    margin: 0 10px;
    padding: 15px 0;
}


    .add_to_cart_items_line .fw-semibold, h6.fw-semibold span {
        color: #fff !important;
    }

.cart_page_footer {
    background-color: #60616b45;
    margin: 0 20px;
    padding: 30px 0;
    border-radius: 10px !important;
}

    .cart_page_footer p {
        text-align: center;
        color: #fff;
        width: 100%;
        font-size: 24px;
    }



    /* MY ORDERS */
.my_orders_table {
    max-width: 1400px;
    margin: 20px auto 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 29px rgba(0,0,0,0.3);
}

.table{
    margin: 0;
}

th, td {
    background-color: #60616b57 !important;
    padding: 15px 20px !important;
    border-bottom: 1px solid #ffffff1f;
    color: #fff !important;
}

.table_detials{
    font-size: 14px;
}


.order_details_summary{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}


/* ADMIN */
.admin_products{
    max-width: 1400px;
    margin: 0 auto;
}

.create_new_product{
    font-size: 12px;
    padding: 10px 15px;
    float: left;
    margin-bottom: 20px;
}

.dt-search {
    color: #fff !important;
    font-weight: 600;
}

.dt-container .dt-search input, .dt-input {
    background: #60616b !important;
    border: 1px solid #77798a;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    color: #fff !important;
}

.dt-container .dt-search input::placeholder {
        color: #fff !important;
        transition: 0.4s all;
    }

.dt-container .dt-search input:focus::placeholder {
        opacity: 0;
        transition: 0.4s all;
        padding-left: 5px;
    }

.dt-length label {
    margin-left: 10px;
    color: #fff;
}

div#tblData_info {
    color: #fff;
}

#tblData .btn.btn-primary {
    background: #60616b;
    border: 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.category_admin {
    max-width: 1400px;
    margin: 0 auto;
}
.PandCTable {
    width: 1400px;
}
/* ANIMATION */
.footer .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
    margin-top: -15px;
    margin-left: 35px;
    margin-bottom: 10px;
}



    .footer .content__container:after, .content__container:before {
        position: absolute;
        top: 0;
        color: #16a085;
        font-size: 42px;
        line-height: 40px;
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

.footer .content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.footer .content__container__list {
    margin-top: 0;
    padding-left: 90px;
    text-align: left;
    list-style: none;
    color: #e02b20;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.footer .content__container__list__item {
    line-height: 40px;
    margin: 0;
}


@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
